@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
}

.kerry-header {
    font-weight: 700;
}  

.kerry-container {
    height: 70vh;
    background: url("../skellig.jpg") no-repeat top right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.social-icons {
    color:#000;
}

.wrapper {
    padding-left: 40px;
    padding-right: 40px;
}

.welcome-text {
    font-size: 150%;
}

.welcome-image {
    background: url("Landing7.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 50px;
}

@media screen and (min-width: 1160px) {
  .wrapper {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.char1:hover, char1:focus, char1:active {
    content: url('images/people/darth.jpg')
}

.char2:hover, char2:focus, char2:active {
    content: url('images/people/jarjar.jpg')
}

.char3:hover, char3:focus, char3:active {
    content: url('images/people/yoda.jpg')
}

.char1{
    height: 480px;
}
.char2{
    height: 480px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 20px 20px 0 rgba(83, 243, 77, 0.4));
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 20px 20px 0 rgba(28, 226, 21, 0.4);
}